/* block top search */
.CategoriesTitle {
	height: 47px;
	width: 180px;
	display: block;
	float: left;
	background: url("../../../img/cattegoriestitle.png") bottom left no-repeat;
}
.CategoriesTitle span.title_cat {
	display: block;
	float: left;
	height: 47px;
	width: 84%;
	padding-top: 5px;
	text-align: left;
	font-weight: bold;
	text-indent: 25px;
	font: bold 11px Arial;
	line-height: 38px;
}
.CategoriesTitle span.title_cat a{
	color: #fff
}
#search_block_top #formsearch{
	float: left;
	padding: 5px 20px 5px 23px;
}
#search_block_top p {padding:0;}
#search_block_top #search_query_top {
	padding:0 5px;
	height:33px;
	width:545px;/* 555 */
	border:1px solid #666;
	border-right:none;
	border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
	color:#666;
	background:url(../../../img/bg_search_input.png) repeat-x 0 0 #fff;
}

#search_block_top #submit {
	border:none;
	border-radius:0;
	color:#fff;
	text-transform:uppercase;
	width: 45px;
	height: 34px;
	text-indent: -9999px;
	background:url(../../../img/bu_search.png) no-repeat ;
}
#shopping-cart{
	float: left
}
#shopping-cart a{
	display: block;
	text-decoration: none;
	font: bold 12px Arial;
	color: #fff;
	line-height: 31px;
	width: 145px;
	height: 31px;
	margin-top: 6px;
	border: 1px solid #f7941e;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding-left: 20px;
	background: url(../../../img/bg_search_top.png) repeat-x
}
#shopping-cart a img{
	vertical-align: middle;
	margin-bottom: 5px
}
/*\*//*/div.madiv {
#search_block_top .button {top: 5px;} /* hack ie 8 */
}/* */
