<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blocklistparnner</name>
	<displayName><![CDATA[Block List Parnner]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Block List Parnner]]></description>
	<author><![CDATA[liempro88]]></author>
	<tab><![CDATA[blocklistparnner]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>