/* Block best sellers */
#best-sellers_block_right ul {margin-bottom:5px}
#best-sellers_block_right li {
	float:none;
	padding:10px 0 20px 0;
	border-bottom:1px dotted #e4e8f1
}
#best-sellers_block_right li.last_item {border:none}
#best-sellers_block_right li a.content_img {
	display:block;
	float:left;
	padding:1px;

	text-decoration:none;
}
#best-sellers_block_right li span.number {
	display:block;
	float:left;
	margin-top:6px;
	width:20px;
	font-weight:bold;
	font-size:18px;
	color:#fff;
	text-align:center
}
#best-sellers_block_right li img {
	margin-left: 20px;
}
#best-sellers_block_right li p {
	float:left;
	text-align: center;
	width:120px;
    font-family: Arial;
	font-size:11px;
    display:block;
    padding:0 24px;
}
#best-sellers_block_right li p a{
    line-height: 16px;
    color:#1362b7;
    text-decoration: none;
}
#best-sellers_block_right li .price {
    font: 11px Arial; 
	color:#ce0809;
    margin-top: 10px;

}

#best-sellers_block_right p.lnk {
    
	padding:0;
	text-align:right
}
#best-sellers_block_right .lnk .button_large {
	padding:0;
	border:none;
	background:none
}
#best-sellers_block_right .lnk .button_large:hover {text-decoration:underline}