<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blocksociallink</name>
	<displayName><![CDATA[Block Social Link]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[block social link.]]></description>
	<author><![CDATA[liempro88]]></author>
	<tab><![CDATA[blocksociallink]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>