#categories_block_left  li {border-bottom:1px solid #f6f7f9}
#categories_block_left  li.last {	border:none;}
#categories_block_left  li a {
	display:block;
	color:#333;
}
#categories_block_left  li a.over {
	background: url(../../../img/ho_category.png) no-repeat transparent
}
#categories_block_left  li ul li {border:none}
#categories_block_left  li ul li a {
	padding-left:0;
	background: #fff;
	border: 1px solid #F6F7F9
}		
#categories_block_left li .OPEN,
#categories_block_left li .CLOSE {
	display:block;
	float:right;
	margin:10px 10px 0;
	height:9px;
	width:9px;
	background:url(../../../img/icon/open-close.png) no-repeat 0 -9px;
	cursor:pointer
}
#categories_block_left li .CLOSE {background-position:0 0}


/* footer */
.blockcategories_footer {
	padding:15px 10px;
}
.blockcategories_footer ul ul {display:none !important}