<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockreducepriceproducts</name>
	<displayName><![CDATA[Block Reduce Price Product]]></displayName>
	<version><![CDATA[1]]></version>
	<description><![CDATA[Module lấy sản phẩm giảm gi&aacute; khi vao trang danh mục cấp 1.]]></description>
	<author><![CDATA[liempro88]]></author>
	<tab><![CDATA[blockreducepriceproducts]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>