#product_list_block{
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid #f6f7f9
}
#product_list_block h3{
    background: url(../img/bg_subca.png) repeat-x;
    height: 32px;
    font: bold 12px Arial;
    line-height: 32px;
    color: #333;
    padding-left: 16px;
    padding-bottom: 0
}
ul#product_list {
	list-style-type: none
}
#product_list li {
	margin-bottom: 14px;
    width: 190px;
    margin-left: 59px;
    float: left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}
#product_list_block p{text-align: center;padding:0}
#product_list .price_container{
    margin-top: 20px
}
#product_list li a{
	color: #1362b7;
	text-decoration: none
}
#product_list .price{
    font: bold 12px Arial;
    color: #ce0809
}
#product_list a.product_image{
    border: none;
    display: block;
    height: 135px;
    margin: 20px auto 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 135px
}
